body {
  @apply text-sm sm:tracking-wide;
}

.msg_srv {
  @apply text-gray-400;
}
.msg_srv:before {
  content: "> ";
}

a {
  @apply text-gray-900 underline underline-offset-2;
}
/* a:before {
  content: '🔗'
} */
cmd {
    @apply text-gray-900;
    @apply cursor-pointer;
}